body{
    font-family: 'Ubuntu', sans-serif;
    margin: 40px;
    background-color: #303340
   
}
h1{
    font-size: 50px;
}
#description{
    font-size: 20px;
    color: wheat;
    text-align: justify;
}
section{
 display: flex;
 color: white; 
 text-align: justify  
}
.orange-color{
    color: orangered;
}
.button{
    background-image: linear-gradient(red, orange);
    padding: 10px 20px;
    weight: 700px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}